# Secure Environment Variables (API Keys Vault)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories (Server packages)
node_modules/
/npm-debug.log*

# Operating System specific files
.DS_Store
Thumbs.db
